.detail div {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    color: var(--primary-color);
}

.backlink {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
}