.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: var(--primary-color);
}

.item:hover {
    background-color: #f4f4f4;
}

.item a {
    color: var(--primary-color);
    text-decoration: none;
    opacity: 0.5;
}

.item a:hover {
    opacity: 1;
}