.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 1rem;
    text-transform: uppercase;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: inline-flex;
    align-items: center;
}

.left > * + * {
    margin-left: 8px;
}

.right {
    margin-top: 16px;
}